---
// src/components/MobileNav.astro
import '../styles/components/_MobileNav.scss';

const navLinks = [
  { href: "/", icon: "nav-home.svg", text: "หน้าแรก" },
  { href: "/shop", icon: "nav-shop.svg", text: "สินค้า" },
  { href: "/content", icon: "nav-articles.svg", text: "บทความ" },
  { href: "/about", icon: "nav-about.svg", text: "เกี่ยวกับ" },
];
---

<nav class="mobile-nav">
  <ul>
    {navLinks.map(link => (
      <li>
        <a href={link.href}>
          <img src={`/icons/${link.icon}`} alt={link.text} />
          <span>{link.text}</span>
        </a>
      </li>
    ))}
  </ul>
</nav>